[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/zodiac"]
	path = contracts/lib/zodiac
	url = https://github.com/gnosisguild/zodiac
[submodule "contracts/lib/safe-smart-account"]
	path = contracts/lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/circles-contracts-v2"]
	path = contracts/lib/circles-contracts-v2
	url = https://github.com/aboutcircles/circles-contracts-v2
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
